$breakpoint-names: settings($settings, "grid.breakpoint.names");
$breakpoint-sizes: settings($settings, "grid.breakpoint.sizes");
$row: #{settings($settings, "define.row.class")};
$column: #{settings($settings, "define.column.class")};
$grid-total: settings($settings, "grid.total");

@mixin row($settings: ()) {
  $row-settings: map-merge(
    (
      gap: 0,
      total: $grid-total,
    ),
    $settings
  );
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: var(--gap, map-get($row-settings, gap));
  grid-row-gap: var(--gap, map-get($row-settings, gap));
  --row-columns: repeat(
    var(--row-total, #{map-get($row-settings, total)}),
    1fr
  );
  grid-template-columns: var(--row-columns);
  grid-template-rows: auto;
}
.row.row--fifths {
  @include row(
    (
      total: 25,
    )
  );
}
@mixin column($pref: null, $add: null) {
  @each $size-name, $size-value in $breakpoint-sizes {
    $className: "";
    @if $pref {
      $className: unquote("#{$add}#{$pref}--#{$size-name}");
    } @else {
      $className: unquote("#{$add}.#{$size-name}");
    }
    #{$className} {
      $grid-total-fifth: $grid-total * $size-value;

      @if $grid-total-fifth != ceil($grid-total-fifth) {
        grid-column: span (25 * $size-value);
      } @else {
        grid-column: span ($grid-total * $size-value);
      }
    }
  }
}

@mixin grid-row() {
  @if export($output, "grid.row") or export($output, "grid.default") {
    #{$row} {
      @include row();
    }
  }
}

@mixin grid-column() {
  @if export($output, "grid.column") or export($output, "grid.default") {
    #{$column} {
      width: 100%;
      &--middle {
        display: flex;
        align-items: center;
      }
      &--center {
        display: flex;
        justify-content: center;
      }
    }
    @if export($output, "grid.column.partials") {
      @include column(null, unquote("#{$column}"));
    }
    @if export($output, "grid.column.responsive-partials") {
      @each $breakpoint in $breakpoint-names {
        @media #{breakpoint($breakpoint)} {
          @include column(unquote(".#{$breakpoint}"), $column);
        }
      }
    }
  }
}
