@mixin typography-spacing() {
  $elements: (h1, h2, h3, h4, h5, h6, p, div, ul, ol);

  @if export($output, "typography.spacing") {
    #{list-to-str($elements,', ')} {
      @include for-each($elements, "& +") {
        margin-top: 1em;
      }
    }
    div + div {
      margin: 0;
    }
  }
  @if export($output, "typography.margin") {
    #{list-to-str($elements,', ')} {
      margin: 0;
    }
  }
}
