@mixin section-navigation() {
  @if export($output, "section.navigation") {
    $navigation: settings($settings, "define.navigation.class");

    .#{$navigation} {
      position: relative;
      display: flex;
      a {
        padding: value(space);
        text-decoration: none;
        color: currentColor;
      }
    }
  }
}
