@mixin section-main() {
  @if export($output, "section.main") {
    $main: settings($settings, "define.main.class");

    #{$main} {
      position: relative;
      transition: transform var(--transition), filter var(--transition);
    }
  }
}
