@mixin section-header() {
  @if export($output, "section.header") {
    $header: settings($settings, "define.header.class");
    $logo: settings($settings, "define.logo.class");

    #{$header} {
      position: relative;
      display: flex;
      justify-content: space-between;
      z-index: 10;
      &--sticky {
        position: sticky;
        top: 0;
      }
    }

    #{$header} #{$logo} {
      padding: value(space);
      font-weight: bold;
      color: currentColor;
      text-decoration: none;
      max-height: value("logo.max-height");
    }
  }
}
