@mixin section-tags() {
  @if export($output, "section.tags") {
    $tags: settings($settings, "define.tags.class");
    #{$tags} {
      border-top: 1px solid var(--accent);
      border-bottom: 1px solid var(--accent);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.25;
      transition: opacity var(--transition);
      &:hover {
        opacity: 1;
      }
    }
  }
}
