@mixin section-main() {
  $main: settings($settings, "define.main.class");

  #{$main} {
    filter: blur(0);
    transform: translate(0);
    position: relative;
    transition: transform value(transition), filter value(transition);
  }
}
