@mixin section-section() {
  @if export($output, "section.section") {
    .section {
      position: relative;
      padding: calc(#{value(space)});
      @media #{breakpoint(medium)} {
        padding: calc(#{value(space)} * 2);
      }
      > .wrap {
        max-width: value("content.max-width");
        margin-left: auto;
        margin-right: auto;
        & + .wrap {
          margin-top: 1em;
        }
      }
      @if export($output, "section.section.heights") {
        &--h-3-4 {
          min-height: 75vh;
        }
      }
    }
  }
}
