@mixin styled-code() {
  @if export($output, "content.code.prism") {
    /**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

    :not([class*="language-"]) code:not([class*="language-"]) {
      font-family: value(code-font);
      line-height: value(line-height);
      font-size: 0.875em;
    }

    [class*="language-"],
    code[class*="language-"],
    pre[class*="language-"] {
      color: inherit;
      background: none;
      font-family: value(code-font);
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: value(line-height);
      tab-size: 4;
      hyphens: none;
    }

    /* Code blocks */
    [class*="language-"] pre {
      padding: value(space);
      overflow: auto;
      border-radius: value(border-radius);
    }

    [class*="language-"] :not(pre) > code,
    [class*="language-"] pre {
      background: var(--accent, #{color(Dark)});
    }

    /* Inline code */
    [class*="language-"] :not(pre) > code {
      padding: 0.1em;
      border-radius: value(border-radius);
      white-space: normal;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #6272a4;
    }

    .token.punctuation {
      color: #f8f8f2;
    }

    .namespace {
      opacity: 0.7;
    }

    .token.property,
    .token.tag,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #ff79c6;
    }

    .token.boolean,
    .token.number {
      color: #bd93f9;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
      color: #50fa7b;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string,
    .token.variable {
      color: #f8f8f2;
    }

    .token.atrule,
    .token.attr-value,
    .token.function,
    .token.class-name {
      color: #f1fa8c;
    }

    .token.keyword {
      color: #8be9fd;
    }

    .token.regex,
    .token.important {
      color: #ffb86c;
    }

    .token.important,
    .token.bold {
      font-weight: bold;
    }

    .token.italic {
      font-style: italic;
    }

    .token.entity {
      cursor: help;
    }
  }
}
