@mixin styled-header-image() {
  @if export($output, "content.header-image") {
    h1 + figure {
      margin-top: value(space);
      width: 100%;
    }
    @media #{breakpoint(medium)} {
      h1 + figure {
        width: calc(100% + (value(space) * 2));
        margin-left: calc(value(space) * -1);
      }
    }
    h1 + figure img {
      width: 100%;
      border-radius: value(border-radius);
    }
    h1 + figure + * {
      margin-top: value(space);
    }
  }
}
