@mixin styled-header-image() {
  $parent: settings($settings, "define.content.class");
  #{$parent} {
    h1 + figure {
      margin-top: calc(#{value(space)} * 2);
      width: 100%;
    }
    @media #{breakpoint(medium)} {
      h1 + figure {
        width: calc(100% + (#{value(space)} * 2));
        margin-left: calc(#{value(space)} * -1);
      }
    }
    h1 + figure img {
      width: 100vw;
      max-width: auto;
      position: relative;
      left: 50%;
      margin-left: -50vw;
    }
    h1 + figure + * {
      margin-top: value(space);
    }
  }
}
