@import "color";

// Settings
$stil-settings: () !default;

$settings: map-merge(
  $stil-settings,
  (
    "font-family":
      '-apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe ui", Arial, sans-serif',
    "code-font": 'Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace',
    "space": 2em,
    "line-height": 1.5,
    "font-size": 1em,
    "font-size-first": 1.25em,
    "border-radius": 0.3em,
    "content.block": ".content",
    "content.paragraph.max-width": max(75ch, 960px),
    "content.max-width": max(75ch, 720px),
    "content.link.colors": (
      contra,
      secondary,
    ),
    "color.primary": red,
    "color.secondary": blue,
    "h6.font-size": 14px,
    "h6.text-transform": uppercase,
    "h6.letter-spacing": 0.1em,
    "h6.color": var(--current-color, var(--contra, var(--primary))),
    "grid.row": "row",
    "grid.column": "column",
    "grid.breakpoint.names": (
      "small",
      "medium",
      "large",
    ),
    "grid.breakpoint.sizes": (
      "full": 1/1,
      "half": 1/2,
      "third": 1/3,
      "two-third": 2/3,
      "quarter": 1/4,
      "three-quarter": 3/4,
      "fifth": 1/5,
      "two-fifth": 2/5,
      "three-fifth": 3/5,
      "four-fifth": 4/5,
    ),
    "grid.breakpoint.small": 0,
    "grid.breakpoint.medium": 720,
    "grid.breakpoint.large": 1280,
    "define.section.class": "section",
    "define.container.class": "container",
    "define.main.class": "main",
    "define.header.class": "header",
    "define.logo.class": "logo",
    "define.footer.class": "footer",
    "define.navigation.class": "navigation",
  )
) !default;

// Output

$stil-output: () !default;
$output: ();
@if length($stil-output) == 0 {
  $output: ("*") !default;
} @else {
  $output: $stil-output;
}
