// Settings
@import "default-settings";
$stil-settings: () !default;

$settings: map-merge($stil-settings, $stil-default-settings) !default;

// Output

$stil-output: () !default;
$output: ();
@if length($stil-output) == 0 {
  $output: ("*") !default;
} @else {
  $output: $stil-output;
}

@import "color";
