@mixin card() {
  @if export($output, "elements.card") {
    $card: settings($settings, "define.card.class");
    .#{$card} {
      &--half {
        width: calc(50% - var(--gap));
      }
      &--third {
        width: calc(33.33% - var(--gap));
      }
      figure {
        display: block;
        width: calc(100% + (#{space(2)}));
        height: 0;
        padding-bottom: 100%;
        margin: calc(#{space(0.5)} * -1);
        margin-bottom: space();
      }
      overflow: hidden;
      display: inline-block;
      padding: space(0.5);
      background-color: var(--accent);
      border-radius: value(border-radius);
      color: var(--current);
    }
  }
}

@mixin card-group() {
  @if export($output, "elements.card.group") {
    $card: settings($settings, "define.card.class");
    .#{$card}-group {
      display: flex;
      gap: space(1);
      --gap: (space(1) / 0.75);
    }
  }
}
