@mixin darkMode {
  --off: var(--white-20);
  --off-text: var(--white-90);
  --foreground: var(--white);
  --foreground-accent: var(--white-90);
  --background: var(--white-10);
  --background-accent: var(--white-20);
  --text: var(--white);
  --accent: var(--light-accent);
}
@mixin lightMode {
  --off: var(--white-90);
  --off-text: var(--white-80);
  --foreground: var(--white-10);
  --foreground-accent: var(--white-20);
  --background: var(--white);
  --background-accent: var(--white-10);
  --text: var(--white-10);
  --accent: var(--dark-accent);
}

@mixin colormode() {
  @if export($output, "elements.colormode") {
    $colormode: settings($settings, "define.colormode.class");
    body {
      background-color: var(--background);
      color: var(--text);
    }
    @media (prefers-color-scheme: dark) {
      body {
        @include darkMode;
      }
    }

    @media (prefers-color-scheme: light) {
      body {
        @include lightMode;
      }
    }
    body[color-mode="dark"] {
      @include darkMode;
    }
    body[color-mode="light"] {
      @include lightMode;
    }
    #{$colormode} {
      width: 2em;
      height: 2em;
      border: none;
      border-radius: 1em;
      background-color: var(--off-text);
      text-indent: -999em;
      transform: translateX(-0%) rotate(45deg);
      transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out,
        width 0.3s ease-in-out;
      &:focus {
        outline: none;
        box-shadow: 0 0 10px 0 var(--text);
      }
    }
    [color-mode="dark"] {
      #{$colormode} {
        width: 1em;
        border-radius: 1em 0 0 1em;
        transform: translateX(-100%) rotate(0deg);
      }
    }
  }
}
